In [12]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [13]:
import pandas as pd
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score
from scipy import stats
#from sklearn.metrics import roc_curve, roc_auc_score
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

IMPORT TRAINING DATA

In [14]:
data=pd.read_csv(r'C:\Users\ayesha.amjad\OneDrive - Astera Software\Data Science for Starters\Training Presentations\trainingdata.csv')
print(data.shape)

(100000, 132)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 132 entries, row ID to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 100.7+ MB

## *This is where you will do some preprocessing*

DEFINE X/y

In [18]:
target = "loss"

In [19]:
X=cleaned_df.drop(columns=[target])
y=cleaned_df[target]
y

0        3325.946771
1        2212.393559
2        3903.026647
3        2045.297525
4        3479.835087
            ...
99994    1968.549951
99996    3352.398155
99997    2952.048273
99998    1769.994777
99999    2077.743445
Name: loss, Length: 85583, dtype: float64

LABEL ENCODE CATEGORICAL VARIABLES
*(You can also use one-hot encoding)*

In [20]:
cat_cols = X.select_dtypes(include=['object']).columns
le = LabelEncoder()
X = X[cat_cols].apply(lambda x: le.fit_transform(x))

In [21]:
X

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,cat91,cat92,cat93,cat94,cat95,cat96,cat97,cat98,cat99,cat100
0,221,10,0,46,19,2,25,43,6,8,...,0,0,3,1,2,4,0,2,15,1
1,75,10,0,31,22,0,60,31,10,9,...,0,0,3,3,2,4,3,3,15,11
2,133,4,0,4,28,0,79,2,0,4,...,0,0,3,3,2,4,3,0,1,11
3,69,10,0,3,39,2,62,31,10,9,...,0,0,3,3,2,4,3,3,15,8
4,45,6,0,31,50,2,46,63,1,5,...,1,4,3,1,3,4,3,0,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,92,7,5,29,8,2,102,31,1,6,...,0,0,3,3,3,4,3,0,12,8
99996,234,11,0,49,19,0,96,31,10,9,...,1,4,3,1,2,4,0,3,15,5
99997,149,6,0,38,30,0,55,31,3,4,...,0,0,3,3,3,4,0,0,12,8
99998,125,5,5,48,14,0,96,2,1,3,...,0,0,3,1,3,4,0,0,12,0
99999,156,13,6,31,35,0,116,31,10,9,...,1,4,2,1,2,4,1,3,15,5

TRAIN/VALIDATION SPLIT 
*(also called train/test split)*

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

FIT MULTIPLE MODELS TO DECIDE THE BEST ONE 
(*criterion: Least RMSE*)

In [54]:
def fitting_models():
    lr=LinearRegression()
    ls = Lasso(alpha=5)
    rg = Ridge(alpha=10)
    
    rgs = [('Linear Regression', lr),
        ('Lasso', ls),
        ('Ridge', rg)
              
  ]
    for name,lr in rgs:
        lr.fit(X,y)
        pred = lr.predict(X)
        score = format(r2_score(y,pred), '.4f')
        rmse = np.sqrt(mean_squared_error(y, pred))
        print("{} : {} , {}".format(name,score,rmse))

In [55]:
fitting_models()

Linear Regression : 0.4195 , 1325.9988409037574
Lasso : 0.4111 , 1335.578743265778
Ridge : 0.4195 , 1326.0579110793399

In [56]:
lr=LinearRegression().fit(X_train, y_train)

IMPORT TESTING DATA FOR PREDICTIONS

In [47]:
test_data = pd.read_csv(r'C:\Users\ayesha.amjad\OneDrive - Astera Software\Data Science for Starters\Training Presentations\testingdata.csv')
print(test_data.shape)

(2001, 131)

TRANSFORM THE TEST DATA SANE WAY AS YOU TRANSFORMED TRAIN DATA

In [48]:
cat_cols = test_data.select_dtypes(include=['object']).columns
le = LabelEncoder()
test_data = test_data[cat_cols].apply(lambda x: le.fit_transform(x))
test_data

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,cat91,cat92,cat93,cat94,cat95,cat96,cat97,cat98,cat99,cat100
0,31,6,0,2,29,0,35,10,1,4,...,0,0,3,3,2,2,1,0,8,11
1,95,10,0,26,8,2,23,10,10,8,...,0,0,3,3,1,2,1,3,11,8
2,35,10,0,26,14,4,23,10,10,9,...,0,0,3,3,1,2,3,3,11,8
3,75,6,0,35,16,1,38,10,1,4,...,0,0,3,1,2,2,1,0,8,14
4,129,10,0,36,18,1,38,10,6,6,...,0,0,2,1,1,2,0,2,11,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,87,9,0,1,38,0,20,10,10,7,...,6,3,3,3,1,2,0,3,11,6
1997,31,6,0,26,34,0,25,10,1,4,...,2,0,2,3,2,2,1,0,8,11
1998,78,9,0,3,38,1,14,10,10,9,...,0,0,3,3,1,2,1,3,11,6
1999,82,9,0,10,6,0,20,10,4,8,...,0,0,3,3,1,2,1,3,11,8
2000,31,10,0,2,29,0,35,10,10,8,...,1,3,2,3,1,2,3,3,11,5

PICK THE BEST MODEL FOR PREDICTING ON TEST DATA

In [57]:
predictions = lr.predict(test_data)
print(predictions)

[3825.25695156 3693.78657458 2962.00483415 ... 2533.33054132 2978.58243175
 2856.36551284]

FORMAT IT ACCORDING TO SAMPLE.CSV (*shared on kaggle*)

In [58]:
predictions_df=pd.DataFrame(predictions, columns=['loss'])
predictions_df

             loss
0     3825.256952
1     3693.786575
2     2962.004834
3     2235.617111
4     2993.189274
...           ...
1996  3495.680418
1997  2365.271101
1998  2533.330541
1999  2978.582432
2000  2856.365513

[2001 rows x 1 columns]

In [60]:
predictions_df.insert(0, 'row ID', range(100001, 102002))
predictions_df

      row ID         loss
0     100001  3825.256952
1     100002  3693.786575
2     100003  2962.004834
3     100004  2235.617111
4     100005  2993.189274
...      ...          ...
1996  101997  3495.680418
1997  101998  2365.271101
1998  101999  2533.330541
1999  102000  2978.582432
2000  102001  2856.365513

[2001 rows x 2 columns]

EXPORT PREDICTION DATAFRAME IN CSV

In [ ]:
predictions_df.to_csv('predictions.csv', sep=',', index=False)